*{
  margin: 0px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.headerfile{
  display: flex;
  background-color:rgb(37, 5, 128);
  padding-bottom: 30px;
  padding-top: 20px;
  margin-bottom: -20px;
}

.chelseatoplogo{
  width: 300px;
  
  display: flex;
  
  
}
 

.searchbar{

 display: flex;
 width: 1000px;
 height: 70px;

}
.logoch{
  height: 70px;
  margin-left: 15px;
}
.srch{
  height: 30px;
  width: 600px;
  margin-top: 10px;
}
.icons{
padding-top: 15px;
margin-left: -30px;
}

.optionstop ul{
  display: flex;
  justify-content: space-between; 
  background-color: rgb(1, 1, 70);
  list-style: none;
  padding-bottom: 10px;
  padding-top: 10px;
  margin-bottom: -10px;
  padding-right: 30px;
   
}
.optionstop a{
  color: aliceblue;
  text-decoration: none;
  font-size: small;
}
.personalize{
  width: 100%;

}


.chelseathing{
  max-width: 1276px;
}

/*MID BODY*/

.shopby{
  color: rgb(1, 1, 70);
  text-align: center;
  padding-bottom: 20px;
  padding-top: 10px;
  font-size: 20px;
}
.players{
  
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: stretch;
  padding-left: 30px;
}
.welcomeroster{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content:stretch;

  padding-left: 10px;

}

.kits{
  display:grid;
grid-template-columns: 1fr 1fr;

}
/* Footer*/

.endfoot{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
 padding-bottom: 50px;
 padding-top: 20px;
 color: black;
 background-color: rgba(128, 128, 128, 0.247);
 font-size: 13px;
 text-decoration: none;
}

.ef1 a{
  text-decoration: none;
  text-align:left;
  padding-left: 20px;
  color: black;
}

.ef2 a{
  text-decoration: none;
  text-align:left;
  padding-left: 20px;
  color: black;
}
.ef3 a{
  text-decoration: none;
  text-align:left;
  padding-left: 20px;
  color: black;

}
.ef4{
  text-decoration: none;
  text-align:left;
  padding-left: 20px;
  color: black;
}

.btn{
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(5, 5, 49);
  color: white;
}
.btn:hover{
  opacity: 0.8;
}

.closing{
padding-bottom: 50px;
font-size: 12px;
margin: 13%;
}